<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <title>List Aircrafts</title>
    <style>
        .navbar{
            padding: 30px;
            padding-left: 100px;
            padding-right: 100px;
        }
        a{
            text-decoration-line: none;
        }
    </style>

</head>
<body class="bg-light">

<nav class="navbar navbar-light bg-light">
        <a th:href="@{/aircrafts/list}">Aircrafts</a>
        <a th:href="@{/airlines/list}">Airlines</a>
        <a th:href="@{/flights/list}">Flights</a>
        <a th:href="@{/stations/list}">Stations</a>
        <a th:href="@{/users/list}">Users</a>
</nav>
    <div class="container bg-light">

        <a th:href="@{/aircrafts/add}" class="btn btn-primary btn-sm mb-3">Add Aircraft</a>
        <hr><br>
        <table class="table table-bordered table-striped">
            <thead class="table-light">
                <tr>
                    <th>id</th>
                    <th>code</th>
                    <th>description</th>
                    <th>created time</th>
                    <th>update time</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="tempAircraft:${aircrafts}">
                    <td th:text="${tempAircraft.id}"></td>
                    <td th:text="${tempAircraft.code}"></td>
                    <td th:text="${tempAircraft.description}"></td>
                    <td th:text="${tempAircraft.creTime}"></td>
                    <td th:text="${tempAircraft.updateTime}"></td>
                    <td>
                        <a th:href="@{/aircrafts/update(aircraftId=${tempAircraft.id})}"
                        class="btn btn-primary btn-sm">Update</a>
                        <a th:href="@{/aircrafts/delete(aircraftId=${tempAircraft.id})}"
                        class="btn btn-danger btn-sm"
                        onclick="if (!(confirm('Are you sure you want to delete this aircraft'))) return false">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</body>
</html>